<div class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-md-4 item">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="/team">Meet the Team</a></li>
                    </ul>
                </div>
                <div class="col-sm-md-6 item text">                  
                    <h3>Pet Match</h3>
                    <p>our description here. Still not sure</p>
                   
                </div>
                <div class="github-icon"><a href="https://github.com/dbridgman1/Pet-Match"><i class="fab fa-github-alt"></i></a></div>
            </div>
            <p class="copyright">Pet Match &copy; 2021. Made with ❤️</p>
        </div>
    </footer>
</div>
