


{{!-- <img src="../assets/img/banner-img.jpg" alt="dogs and cats in a photo" height="200rem" style="display: block; margin-left: auto;margin-right: auto" id="photoF"> --}}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-md-9">
     <p></p>
    </div>
    <div class="col-lg-3 col-md-3 mantra">
      <h6>An app to help you find a cute animal to make your life complete</h6>
    </div>
    
  </div>


  {{!-- Modal Trigger --}}
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalLoginForm" id="btn1">Login or Signup</button>
    </div>
    
  </div>  
 
</div>


 <img src="https://epi.azureedge.net/website-images/images/home/heroimage.png?sfvrsn=7146dd7b_2" alt="dogs and cats in a photo" id="photoF">


  
  

  
  
<!-- Modal -->
  <div id="ModalLoginForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Login</h1>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action="">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">E-Mail Address</label>
                        <div>
                            <input type="email" class="form-control input-lg" name="email" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <div>
                            <input type="password" class="form-control input-lg" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember"> Remember Me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success colorB">Login</button>
                        </div>
                    </div>
                </form>
                <h1>Or Signup!</h1>
                <form role="form" method="POST" action="">
                    <input type="hidden" name="_token" value="">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <div>
                            <input type="text" class="form-control input-lg" name="name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">E-Mail Address</label>
                        <div>
                            <input type="email" class="form-control input-lg" name="email" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <div>
                            <input type="password" class="form-control input-lg" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <div>
                            <input type="password" class="form-control input-lg" name="password_confirmation">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-success colorB">
                                Signup
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
