<nav class="navbar navbar-default navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar me-auto mr-auto" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
  </div>
  <div class="row notesbox">
    <div class="col-12 col-md-8">
      <ul id="currentList">

      </ul>

    </div>
    <div class="row">
      <div class="col-6 col-md-4">
        <form id="noteForm">
          <textarea id="newNoteTextArea" name="note"></textarea>
          <button type="submit" class="btn btn-light">Add Note</button>
        </form>
      </div>
    </div>
  </div>
</div>

<br><br>


<div class="container">
  <div class="row notesbox mt-2">
    <div class="col-3"><button type="button" class="btn btn-info btn-rounded apiBtn" data-type="Cat"
        data-gender="Male">Male Cats</button></div>
    <div class="col-3"><button type="button" class="btn btn-light btn-rounded apiBtn" data-mdb-ripple-color="dark"
        data-type="Cats" data-gender="Female">Female Cats</button></div>
    <div class="col-3"><button type="button" class="btn btn-info btn-rounded apiBtn" data-type="Dog"
        data-gender="Male">Male Dogs</button></div>
    <div class="col-3"><button type="button" class="btn btn-light btn-rounded apiBtn" data-mdb-ripple-color="dark"
        data-type="Dogs" data-gender="Female">Female Dogs</button></div>

    <ul class="mt-4" id="breedList">

    </ul>
    
  </div>
</div>