<nav class="navbar navbar-default navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar me-auto mr-auto" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
  </div>
  <div class="row notesbox">
    <div class="col-12 col-md-8">
      <ul id="currentList">

      </ul>

    </div>
    <div class="row">
      <div class="col-6 col-md-4">
      <form id="noteForm">
        <textarea id="newNoteTextArea" name="note"></textarea>
        <button type="submit" class="btn btn-light">Add Memo</button>
      </form>
      </div>
    </div>
  </div>
{{!-- <div class="col-6 col-md-4">.col-6 .col-md-4</div> --}}
</div>

<br><br>

<div class="container">
  <div class="row notesbox">
    <div class="col-12 col-md-8">
      <ul id="apiList">

      </ul>

    </div>
  </div>