<style>

  *{
    background-color: white;
  }
  .flogin{
    background-color: white;
  }
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: white;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container" style="background-color: white;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
<ul class="list-group">
    {{#each pets}}   
                    
          {{>pets/pets-block}}
                    
    {{/each}}
</ul>
<!--User selects criteria-->
<!--NOTE: FORM WILL BE REMOVED WHEN DB IS FUNCTIONAL-->
<form>
    

    

<!-- This section contains dog records -->

        <div class="container" style="box-sizing:border-box; position: relative; background: white;
            padding: 50px 0 40px 0; display: block">

            <div class="col-12">

        <!--Breed list START-->
            <ul id="breedList">
            

            </ul>
  
            </div>

        </div>

  

    </div> <!--Container fluid ending-->
    <!--<script type="text/javascript" src="/js/members.js"></script>-->
    <script type="text/javascript" src="/js/petFinder_actions.js"></script>