<<<<<<< HEAD
    <section class="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title">
              <h2>THE TEAM</h2>
              <p>We are dedicated to creating products people love to use!
                We lead and participate in product design sprints, build high-quality apps, and keep up with emerging technologies so you don't have to. </p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-lg-6">
                <div class="member">
                  <div class="pic"><img src="https://avatars.githubusercontent.com/u/71850014?s=460&u=50f8a9f4f7c0d3add06f41c0cf161da3324f4ec5&v=4" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Bruce Farmer</h4>
                    <span>Web Developer</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>
                    <div class="social">
                      <a href="https://github.com/bcefarmer"><i class="fab fa-github"></i></a>
                      <a href=""> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member">
                  <div class="pic"><img src="https://avatars.githubusercontent.com/u/73134344?s=460&u=0bc7ae28f7b703861aa9ae755373f027784d7387&v=4" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Adriana Valdiglesias </h4>
                    <span>Web Developer</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>
                    <div class="social">
                      <a href="https://github.com/adrianavv1"><i class="fab fa-github"></i></a>
                      <a href=""> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member">
                  <div class="pic"><img src="https://avatars.githubusercontent.com/u/39885707?s=460&u=638b84bad998411e07678e026a314660cfb092ea&v=4" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Nardin Lachowski</h4>
                    <span>Web Developer</span>
                    <p>When away from email, you can find her hiking, learning, or on a long drive to somewhere special</p>
                    <div class="social">
                      <a href="https://github.com/nard1n"><i class="fab fa-github"></i></a>
                      <a href="https://www.linkedin.com/in/nardinl/"> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member">
                  <div class="pic"><img src="https://avatars.githubusercontent.com/u/71902042?s=460&u=f7c33ff10df0ec49b48c4c16ad2fbc2058d8f96d&v=4" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Drew Bridgman</h4>
                    <span>Web Developer</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>
                    <div class="social">
                      <a href="https://github.com/dbridgman1"><i class="fab fa-github"></i></a>
                      <a href=""> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>
=======
    <section class="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title">
              <h2>THE TEAM</h2>
              <p>We are dedicated to creating products people love to use!
                We lead and participate in product design sprints, build high-quality apps, and keep up with emerging technologies so you don't have to. </p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-lg-6">
                <div class="member">
                  <div class="pic"><img src="https://avatars.githubusercontent.com/u/71850014?s=460&u=50f8a9f4f7c0d3add06f41c0cf161da3324f4ec5&v=4" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Bruce Farmer</h4>
                    <span>Web Developer</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>
                    <div class="social">
                      <a href="https://github.com/bcefarmer"><i class="fab fa-github"></i></a>
                      <a href="https://www.linkedin.com/in/bruce-farmer-0242021bb/"> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member">
                  <div class="pic"><img src="https://avatars.githubusercontent.com/u/73134344?s=460&u=0bc7ae28f7b703861aa9ae755373f027784d7387&v=4" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Adriana Valdiglesias </h4>
                    <span>Web Developer</span>
                    <p></p>
                    <div class="social">
                      <a href="https://github.com/adrianavv1"><i class="fab fa-github"></i></a>
                      <a href=""> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member">
                  <div class="pic"><img src="https://avatars.githubusercontent.com/u/39885707?s=460&u=638b84bad998411e07678e026a314660cfb092ea&v=4" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Nardin Lachowski</h4>
                    <span>Web Developer</span>
                    <p>When away from email, you can find her hiking, learning, or on a long drive to somewhere special</p>
                    <div class="social">
                      <a href="https://github.com/nard1n"><i class="fab fa-github"></i></a>
                      <a href="https://www.linkedin.com/in/nardinl/"> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4">
                <div class="member">
                  <div class="pic"><img src="https://avatars.githubusercontent.com/u/71902042?s=460&u=f7c33ff10df0ec49b48c4c16ad2fbc2058d8f96d&v=4" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Drew Bridgman</h4>
                    <span>Web Developer</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor .</p>
                    <div class="social">
                      <a href="https://github.com/dbridgman1"><i class="fab fa-github"></i></a>
                      <a href="https://www.linkedin.com/in/drew-bridgman-ab49a540/"> <i class="fab fa-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>
    {{> footer}}
>>>>>>> ceb82e3906580c2ce51ed0b414e290fe3d8912af
