* {
  font-family: 'Abril Fatface', cursive;
  color: #F3F3F2;
}

html, body {
  height: 100%;
}

.square {
  background-color: #2C2C2F;
  padding: 3rem 3rem 2.5rem 3rem;
  border-radius: 20px;
}
.container-fluid {
  height: 100%;
}

.flogin {
  background-color: #909793;
}

.notesbox {
  color: #1E3643;
  background-color: #8A7961;
  border-radius: 20px;
}
#btn1 {
  font-size: 25px;
  padding: 5px 60px 5px 60px;
  background-color: black;
  border: black;
  display: block;
  margin-left: auto;
  margin-top: 20px;
}

h6 {
  font-size: 45px;
  line-height: 70px;
  font-weight: bold;
  text-align: right;
}

.colorB {
  background-color: black;
  margin-top: 5px;
}

#photoF {
  padding-left:2rem;
  width: 75%;
  padding-bottom: 2rem;
}
.right {
  position: absolute;
  top: 75%;
  right: 10%;
  width: 50%;
}

.right-up {
  position: absolute;
  padding-top: 2rem;
  right: 10%;
  width: 25%;
}