* {
  font-family: Arial, Helvetica, sans-serif;
  color: #F3F3F2;
}

html, body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.square {
  margin: 4%;
  background-color: #2C2C2F;
  padding: 3rem 3rem 2.5rem 3rem;
  border-radius: 20px;
}
.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.flogin {
  background-color: #b4b4b4;
}

.notesbox {
  color: #1E3643;
  background-color: #A39872;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
}

.reviewsbox {
  color: #1E3643;
  background-color: #A39872;
  border-radius: 20px;
  padding: 3rem;
}

h6 {
  font-size: 45px;
  line-height: 70px;
  font-weight: bold;
  text-align: right;
}


#photoF {
  padding-left:2rem;
  width: 75%;
  padding-bottom: 2rem;
  max-width: 25em;
}

.right {
  position: absolute;
  top: 75%;
  right: 10%;
  width: 50%;
}

li {
  list-style-type: none;
}

.team {
  background: #fff;
  padding: 60px 0;
}

.team h2 {
  color: #009970;
  font-weight: bold;
}

.team p {
  color: #1E3643;
}

.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.team .member .pic {
  overflow: hidden;
  width: 150px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover img {
  transform: scale(1.1);
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #36343a;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
  color: #36343a;
}

.team .member span::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #009970;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #a8a5ae;
  text-decoration:none;
}

.team .member .social a:hover {
  background: #009970;
}

.team .member .social a + a {
  margin-left: 8px;
}

@media (min-width: 40em) {
  .square {
    max-width: 400px;
  }
  #photoF {
    max-width: 100%;
  }
}

.footer {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
  flex-shrink: 0;
}

.footer h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer ul {
  padding:0;
  list-style:column;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.github-icon) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer .item .text {
  margin-bottom:36px;
  text-align: left;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
    text-align: left;
  }
}

.footer .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer .item.github-icon {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.github-icon {
    text-align: right;
    margin-top:20px;
  }
}

.footer .item.github-icon > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer .item.github-icon > a:hover {
  opacity:0.9;
}

.footer .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}


